  <!-- Blog Section Begin -->
<section class="blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5">
                <div class="blog__sidebar">
                    <div class="blog__sidebar__search">
                        <form action="#">
                            <input type="text" placeholder="Search...">
                            <button type="submit"><span class="icon_search"></span></button>
                        </form>
                    </div>
                    <div class="blog__sidebar__item">
                        <h4>Categories</h4>
                        <ul>
                            <li><a href="#">All</a></li>
                            <li><a href="#">Son  (20)</a></li>
                            <li><a href="#">Phấn Nền (5)</a></li>
                            <li><a href="#">Kem Dưỡng (9)</a></li>
                            <li><a href="#">Bộ Mỹ phẩm (10)</a></li>
                        </ul>
                    </div>
                    <div class="blog__sidebar__item">
                        <h4>Tin Tức Gần Đây</h4>
                        <div class="blog__sidebar__recent">
                            <a href="#" class="blog__sidebar__recent__item">
                                <div class="blog__sidebar__recent__item__pic">
                                  <img src="~/image/Blog/1.png" alt="">

                                </div>
                                <div class="blog__sidebar__recent__item__text">
                                    <h6> Bộ Phấn Nền<br /> Của LiverShop</h6>
                                    <span>MAR 05, 2022</span>
                                </div>
                            </a>
                            <a href="#" class="blog__sidebar__recent__item">
                                <div class="blog__sidebar__recent__item__pic">
                                <img src="~/image/Blog/2.png" alt="">
                                </div>
                                <div class="blog__sidebar__recent__item__text">
                                    <h6>Bộ Sưu Tập Làm Đẹp<br /> Nhà LeNy</h6>
                                    <span>MAR 06, 2025</span>
                                </div>
                            </a>
                            <a href="#" class="blog__sidebar__recent__item">
                                <div class="blog__sidebar__recent__item__pic">
                                     <img src="~/image/Blog/3.png" alt="">
                                </div>
                                <div class="blog__sidebar__recent__item__text">
                                    <h6>Thỏi Son Đỏ <br />Nâng Tự Tin</h6>
                                    <span>JUN 09, 2021</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="blog__sidebar__item">
                        <h4>Search By</h4>
                        <div class="blog__sidebar__item__tags">
                            <a href="#">Kem Dưỡng</a>
                            <a href="#">Son</a>
                            <a href="#">Phần Nền</a>
                            <a href="#">Phấn phủ</a>
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-7">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="~/image/productsphoto/10.png" alt="">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                                    <li><i class="fa fa-comment-o"></i> 5</li>
                                </ul>
                                <h5><a href="#">Cách làm son môi lâu trôi</a></h5>
                                <p>
                                    Sử dụng một lớp dưỡng môi nhẹ nhàng trước khi đánh son để làm mềm môi, 
                                    tránh tình trạng môi khô hoặc nứt nẻ.
                                </p>
                                <a href="#" class="blog__btn">READ MORE <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="~/image/productsphoto/11.png" alt="">

                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                                    <li><i class="fa fa-comment-o"></i> 5</li>
                                </ul>
                                <h5><a href="#">Đánh giá các loại son môi</a></h5>
                                <p>Mỗi loại son có những ưu điển cũng như nhược điểm nhau.Vì vậy hay chọn cho mình 
                                    loại son thât sự phụ hợp để có thể tự tin nhất
                                </p>
                                <a href="#" class="blog__btn">READ MORE <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="~/image/productsphoto/7.png" alt="">

                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                                    <li><i class="fa fa-comment-o"></i> 5</li>
                                </ul>
                                <h5><a href="#">Son môi hữu cơ và an toàn</a></h5>
                                <p>
                                    on môi hữu cơ và an toàn là lựa chọn tuyệt vời cho những
                                    ai muốn bảo vệ sức khỏe và môi trường
                                </p>
                                <a href="#" class="blog__btn">READ MORE <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="~/image/productsphoto/3.png" alt="">

                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                                    <li><i class="fa fa-comment-o"></i> 5</li>
                                </ul>
                                <h5><a href="#">Son môi theo xu hướng mùa</a></h5>
                                <p>
                                    Màu son ấm cho mùa thu đông, màu son tươi sáng cho mùa xuân hè.
                                </p>
                                <a href="#" class="blog__btn">READ MORE <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="~/image/productsphoto/2.png" alt="">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                                    <li><i class="fa fa-comment-o"></i> 5</li>
                                </ul>
                                <h5><a href="#">Cách chọn son phù hợp với từng loại da</a></h5>
                                <p>
                                     Các tông màu nhẹ nhàng sẽ làm nổi bật làn da sáng, mang lại vẻ ngoài tự nhiên và tươi tắn.
                                </p>
                                <a href="#" class="blog__btn">READ MORE <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="~/image/productsphoto/13.png" alt="">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                                    <li><i class="fa fa-comment-o"></i> 5</li>
                                </ul>
                                <h5><a href="#">Các thương hiệu son nổi tiếng</a></h5>
                                <p>
                                    các thương hiệu son nổi bật như MAC, Chanel, Dior, Fenty Beauty, NARS, Maybelline, 
                                    và các thương hiệu nổi tiếng khác.
                                </p>
                                <a href="#" class="blog__btn">READ MORE <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="product__pagination blog__pagination">
                            <a href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->